{% extends "layout.html" %}

{% block content %}

<form method="POST">
  <button type= "submit" class = "ui primary button">Add Ingredient</button>
</form>

</form>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    {% for ingredient in ingredients %}
    <tr>
      <td>{{ ingredient.name }}</td>
      <td>{{ ingredient.quantity }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block more_content %}

</form>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Recipe </th>
      <th>Used Ingredients</th>
      <th>Missing Ingredients</th>
    </tr>
  </thead>
  <tbody>
    {% for recipe in recipes %}
    <tr>
      <td>
	  <p><label for="image">{{ recipe.recipe_name }} </label></p>
	  <img id="image" src={{ recipe.image }} width=100 height=100>
      </td>
      <td>{{ recipe.used_ingredients }}</td>
      <td>{{ recipe.missing_ingredients }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
